NotesHub-WinForm/Connected Services/NotesHubService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NotesHub_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NotesHub_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="last_viewed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
  <xs:complexType name="GroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupModel" nillable="true" type="tns:GroupModel" />
  <xs:complexType name="ArrayOfGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupModel" nillable="true" type="tns:GroupModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupModel" nillable="true" type="tns:ArrayOfGroupModel" />
  <xs:complexType name="GroupUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="group_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupUserModel" nillable="true" type="tns:GroupUserModel" />
  <xs:complexType name="ArrayOfUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserModel" nillable="true" type="tns:UserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserModel" nillable="true" type="tns:ArrayOfUserModel" />
  <xs:complexType name="PostModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Documents" nillable="true" type="tns:ArrayOfDocumentModel" />
      <xs:element minOccurs="0" name="created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="group_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostModel" nillable="true" type="tns:PostModel" />
  <xs:complexType name="ArrayOfDocumentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentModel" nillable="true" type="tns:DocumentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentModel" nillable="true" type="tns:ArrayOfDocumentModel" />
  <xs:complexType name="DocumentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentModel" nillable="true" type="tns:DocumentModel" />
  <xs:complexType name="ArrayOfPostModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostModel" nillable="true" type="tns:PostModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostModel" nillable="true" type="tns:ArrayOfPostModel" />
</xs:schema>